@import url('../assets/fonts/CourierPrime-Regular.ttf');
body {
    background-color: #000;
    color: #ccd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'CourierPrime-Regular', 'Courier New', Courier, monospace;
    flex-wrap: wrap;
}

a {
    color: #ecd;
}

/* box for ascii videos */
#ascii {
    max-width: 80vw;
    /* border: 2px solid #555; */
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: CourierPrime-Regular, 'Courier New', Courier, monospace;
    font-size: 5pt;
    letter-spacing: 0.2em;
    line-height: 1.2;
    text-align: left;
    margin-top: 10em;
    margin-bottom: auto;
    z-index: 1;
}

.container {
    line-height: 1.5;
    margin: 20px auto 100px auto;
    padding: 0 10px 30px 10px;
    width: 50vw;
    max-width: 70vw;
    border-bottom: 1px solid #fcd;
    flex-basis: 100%;
}