:root {
  --text-col: #0a0a0a;
  --bg-col: #f5f5f5;
  --arrow-col: green;
  --selected-col: blue;
}

header {
  display: flex;
  justify-content: center;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/* rows of stuff */

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
}

.toprow {
  height: 10em;
}
.middlerow {
  height: 8em;
}
.bottomrow {
  height: auto;
  padding: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

/* vis modules */

.vis-modules {
  position: relative;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}
.vis-module {
  position: relative;
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-col);
  font-weight: 800;
  background-color: var(--bg-col);
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0.3;
}
.audio-path {
  position: absolute;
  width: 12.3%;
  border-top: 2px dashed var(--arrow-col);
}
.audio-path::after {
  content: "";
  position: absolute;
  top: calc(50% - 10px);
  left: calc(100% - 7px);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--arrow-col);
}
#module-1-path {
  left: 27%;
}
#module-2-path {
  left: 60.5%;
}
.vis-output {
  position: relative;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-col);
  font-weight: 800;
  background-color: var(--bg-col);
  border: 2px solid white;
  border-radius: 20px;
}
.slot-selected {
  border: 3px solid var(--selected-col);
}
.slot-filled {
  opacity: 1;
}

/* selectors and output */

.module-selector,
.module-output {
  width: 15%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#module-selector {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  /* background-color: var(--bg-col); */
}

/* routing lines */

#module-1-out {
  width: 91%;
  left: 15%;
}
#module-2-out {
  width: 55.5%;
  left: 50%;
}
#module-3-out {
  width: 22.5%;
  left: 83%;
}
.mod-out {
  height: 53%;
  position: absolute;
  top: -2%;
  border-left: 2px dashed var(--arrow-col);
  border-bottom: 2px dashed var(--arrow-col);
}
.mod-out::after {
  content: "";
  position: absolute;
  top: 90%;
  width: 0;
  height: 0;
  left: calc(100% - 4px);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--arrow-col);
}

/* parameters and preview */

.parameters {
  color: #222;
  padding: 0 2em 1em 2em;
  width: 45%;
  height: 90%;
  background-color: var(--bg-col);
  border-radius: 15px;
}

.param-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0.5em;
}
.param-name {
  grid-column-start: 0;
  grid-column-end: 1;
}
.param-container input {
  grid-column-start: 1;
  grid-column-end: 2;
}

.param-container input[type="range"] {
  height: 1em;
}

.param-val {
  grid-column-start: 2;
  grid-column-end: 3;
}

.preview {
  position: relative;
  width: 26vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview h2 {
  margin: 0;
  padding: 0;
}

#canvasContainer {
  width: 100%;
  outline: 1px solid white;
}

#fr {
  position: absolute;
  left: 3px;
  bottom: 8px;
  background-color: #222;
  padding: 2px;
}
