@import url("../assets/fonts/CourierPrime-Regular.ttf");
@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #000;
  color: #ccd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CourierPrime-Regular", "Courier New", Courier, monospace;
}

main {
  margin: 0 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3em 1em;
}

a {
  color: #ecd;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
}

button,
a.button {
  display: inline-block;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0.8em 1.8em;
  margin: 4px;
  color: #fff;
  background-color: #673ab7;
  border: 2px solid white;
  border-radius: 10px;
}
button:hover,
a.button:hover {
  cursor: pointer;
}

select,
input {
  font-size: 1.2em;
  padding: 5px;
  margin: 3px;
}

input {
  font-size: 0.8em;
  font-family: "CourierPrime-Regular", "Courier New", Courier, monospace;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease-in;
  z-index: 3;
}

.setlistItem {
  display: block;
  border: 1px solid white;
  transition: background 0.5s;
}

.setlistItem:hover {
  background-color: #997627;
  cursor: pointer;
}

.container {
  line-height: 1.5;
  margin: 20px auto 100px auto;
  padding: 0 10px 30px 10px;
  width: 50vw;
  max-width: 70vw;
  border-bottom: 1px solid #fcd;
  flex-basis: 100%;
}

.currTrack,
.currTrack:hover {
  background: #34ae11;
  transition: background 0.5s ease-in;
}

.visLoading,
.visLoading:hover {
  background: #aa2222;
}
