@import url("../assets/fonts/CourierPrime-Regular.ttf");
body {
  background-color: #000;
  color: #ccd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CourierPrime-Regular", "Courier New", Courier, monospace;
}

a {
  color: #ecd;
}

.setlistItem {
  display: block;
  border: 1px solid white;
}

.setlistItem:hover {
  background-color: cadetblue;
  cursor: pointer;
}

.container {
  line-height: 1.5;
  margin: 20px auto 100px auto;
  padding: 0 10px 30px 10px;
  width: 50vw;
  max-width: 70vw;
  border-bottom: 1px solid #fcd;
  flex-basis: 100%;
}
