/* https://code-boxx.com/drag-drop-sortable-list-javascript/ */
.slist {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 70%;
}

.slist li,
.emptyMessage {
  margin: 5px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 3px;
  background: #eaeaea;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slist li:nth-child(even) {
  background: #bababa;
}

.sortable-ghost {
  opacity: 0;
}

.slist li .optButton {
  color: #800;
  font-weight: 800;
  background-color: #ccc;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #999;
  margin: 0 3px;
}
